{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitSpace</title>
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    <link rel="stylesheet" href="{%static 'css/button.css'%}">
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <script src="js/jquery-1.11.3.js"></script>
</head>

<body>
    <div class="banner" style="background-image: url({%static 'imgs/banner2.jpg'%});">
            <a href="/indexAfterLogin"><span>首页</span></a>

        <div class="search bar">
            <form class="searchForm"> 
                <input placeholder="Git me！" name="cname" type="text">
                <button type="submit"></button>
            </form>
        </div>
    </div>

    <div class="content">
        <div class="leftContent">
            <div class="navi">
              　<a href="/indexHot"  class="button  button-small">热榜</a>
               <a href="/indexLike" class="button button-small">关注</a>
               <a href="/indexRecommend" class="button button-small"">推荐</a>
            </div>
            <div class="recommends">
            
                <div class="recom">
                    <div class="label"><span>动态</span></div>
                    <div class="ID">
                        <div class="head">
                            <img src="{%static 'imgs/head2.png'%}" alt="">
                        </div>
                        <h2>渣渣辉</h2>
                    </div>
                    <div class="message">打BOSS在这里是非常重要的，装备基本都是BOSS出。但是，一个人太难抢到了，整天被打得怀疑人生。一个BOSS，你自己打，至少十分钟以上，打了99%了，突然杀出来一个家伙，几刀把你砍了，这时候你唯一的想法就是“充钱，干翻他！”有土豪兄弟一起就不一样了，几个人一站，别人都绕路走。兄弟打到装备，往行会仓库里一扔，想要的自己拿，多爽！

                    </div>
                    <div class="functions">
                        <button title="点赞" class="button button-plain button-border button-circle  button-primary button-small"><i class="fa fa-thumbs-up"></i></button>
                         <a href=""><button title="评论" class="button button-large  button-plain button-border button-circle button-small"><i class="fa fa-envelope"></i></button></a>                
                        <button title="转发" class="button button-large button-plain button-border button-circle button-small"><i class="fa fa-reply"></i></button>
                        <a href="./discuss"><button title="参与想法" class="button button-plain button-border button-circle button-small"><i class="fa fa-plus"></i></button></a>
                    </div>
                </div>

                 <div class="recom">
                    <div class="label"></div>
                    <div class="ID"></div>
                    <div class="message"></div>
                    <div class="functions"></div>
                </div>
                <div class="recom">
                    <div class="label"></div>
                    <div class="ID"></div>
                    <div class="message"></div>
                    <div class="functions"></div>
                </div>
            </div>
        </div>
         <div class="rightContent">
            <div class="loginAndRegister" style="background-image: url({%static 'imgs/leftimg.jpg'%});background-size:100% 100%;" id="person">
                    <div class="head">
                        <section class="box">
                            <div class="avatar">
                              <a href="/person/indexPerson/" style="background: url({%static person.personImage%}) no-repeat; background-size:contain;"><span>{{person.personName}}<br>-详细-</span></a>
                            </div>
                        </section>
                    </div>

                    <div class="leftFunctions">
                        <div class="article"><a href=""><img src="{%static 'imgs/article.jpg'%}" alt="" height="40" width="40" ></a><span>写文章</span></div>
                        <div class="thought"><a href="javascript:void(0)" onclick = "tanchu3()"><img src="{%static 'imgs/thought.jpg'%}" alt="" height="40" width="50" ></a><span>写想法</span></div>
                        <div class="news"><a href = "javascript:void(0)" onclick = "tanchu()"><img src="{%static 'imgs/news.jpg'%}" alt="" height="40" width="40" ></a><span>写动态</span></div>
                        <div class="collection"><a href="/person/personCollection/"><img src="{%static 'imgs/collection.jpg'%}" alt="" height="40" width="40" ></a><span>我的收藏</span></div>
                        <div class="like"><a href="/person/personFollow/"><img src="{%static 'imgs/like2.jpg'%}" alt="" height="40" width="40" ></a><span>我的关注</span></div>
                        <div class="logout"><a href="/logOut/" ><img src="{%static 'imgs/logout.jpg'%}" alt="" height="40" width="40" ></a><span>退出登录</span></div>
                    </div>
                        

            </div>
            <div class="loginAndRegister" style="background-image: url({%static 'imgs/welcome.jpg'%});" id = "nologin">
                <div class="login">
                    <a  href="/login" class="button button-block login-button" style="color:white">登录</a>
                    <a href="/register" class="button button-block" >现在注册</a>
                </div>
            </div>
            <script>
            if ({{person.personID}}) {
            document.getElementById("person").style.display='block';
            document.getElementById('nologin').style.display='none';
            }
            </script>
            <div class="ads" style="background-image: url({%static 'imgs/ad.jpg'%});">
            </div>
            <div class="copyright">
                <footer class="Footer">
                <a class="Footer-item" target="_blank" rel="noopener noreferrer" href="//liukanshan.zhihu.com/">Git Me!</a>
                <span class="Footer-dot"></span><a class="Footer-item" target="_blank" rel="noopener noreferrer" href="/question/19581624">GitSpace指南</a>
                <span class="Footer-dot"></span><a class="Footer-item" target="_blank" rel="noopener noreferrer" href="/terms">GitSpace协议</a><span class="Footer-dot"></span>
                <a class="Footer-item" target="_blank" rel="noopener noreferrer" href="/terms/privacy">隐私政策</a><br><a class="Footer-item" target="_blank" href="/app">应用</a><span class="Footer-dot"></span>
                <a class="Footer-item" target="_blank" rel="noopener noreferrer" href="https://app.mokahr.com/apply/zhihu">工作</a><span class="Footer-dot"></span><button type="button" class="Button OrgCreateButton">申请开通GitSpace机构号</button><br><a class="Footer-item" target="_blank" rel="noopener noreferrer" href="https://zhuanlan.zhihu.com/p/28561671">侵权举报</a><span class="Footer-dot"></span><a class="Footer-item" target="_blank" rel="noopener noreferrer" href="http://www.12377.cn">网上有害信息举报专区</a>
                <br><span class="Footer-item">违法和不良信息举报：010-82716601</span><br>
                <a class="Footer-item" target="_blank" href="/contact">联系我们</a><span> © 2018 GitSpace</span></footer>
            </div>

        </div>

    </div>
    <footer>
    </footer>
</body>
</html>