{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章查看 - GitSpace</title>
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    <link rel="stylesheet" href="{%static 'css/button.css'%}">
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/animate.min.css'%}">
    <script src="{%static 'js/jquery-1.11.3.js'%}"></script>
    <script src="{%static 'js/index.js'%}"></script>
    <script src="{%static 'js/comment.js'%}"></script>
    <script src="{%static 'js/layer/layer.js'%}"></script>

</head>

<body>
<!-- 评论区域 -->
    <div id="light" class="commentArea">
        <div id='commentTitle' style="text-align: center;">
            
        </div>
        <a href="javascript:void(0)" onclick="commentTanchu2()">
            <button title="关闭" class="button  button-border button-circle button-small closeButton">X</button>
        </a>
        <div id="CommentsContainer" class="CommentsContainer">
            条评论
        </div>
        <div>
            <div class="TopbarCommentTopbar"></div>
            <!-- 评论列表commentList　包含头像,评论者,评论内容 -->
            <div id="commentList" class="commentList">
                <!--  循环创建每个评论 -->
            </div>
            <div id="commentsFooter" class="commentsFooter">
                <input type="text" id="ucomment" name="ucomment" class="commentcontent">
            </div>
        </div>
    </div>
    <div id="fade" class="blackoverlay"></div>
<!--  -->
<!-- 动态区域 -->
    <div id="dynamic" class="dynamicArea">
        <a href = "javascript:void(0)" onclick = "tanchu2()">
            <button title="关闭" class="button  button-border button-circle button-small closeButton">X</button></a>
        <div >    

            <div class="dynamicContent">
                <form method="post" action="/publishDynamic/"　>
                {% csrf_token %}
                    <textarea name="dynamicContent" class="dynamicText" autofocus maxlength="233">   
                    </textarea>
                    <input type="submit" name=""  value="发布动态" onclick="alert('发布成功')" class="">
                </form>
            </div>
        </div>
    </div> 

<!-- 想法区域 -->
    <div id="idea" class="ideaArea">
        <a href = "javascript:void(0)" onclick = "tanchu4()">
            <button title="关闭" class="button  button-border button-circle button-small closeButton">X</button></a>
        <div >    

            <div class="ideaContent">
                <form method="post" action="/publishIdea/"　>
                {% csrf_token %}
                    <textarea name="ideaContent" class="ideaText" autofocus maxlength="233">   
                    </textarea>
                    <input type="submit" name=""  value="发布想法" onclick="alert('发布成功')" class="">
                 <select name="label1">
                    <option value="java">java</option>
                    <option value="c">c</option>
                    <option value="c++">c++</option>
                    <option value="python">python</option>
                </select>
                <select name="label2">
                    <option value="大数据">大数据</option>
                    <option value="人工智能">人工智能</option>
                    <option value="游戏开发">机器学习</option>
                    <option value="编程学习">编程学习</option>
                </select>
                </form>
            </div>
        </div>
    </div> 
    <div id="fade" class="black_overlay"></div> 


<!-- 横幅 -->
    <div class="banner" style="background-image: url({%static 'imgs/banner2.jpg'%});">
        <a href="/indexAfterLogin"><span>首页</span></a>
        <div class="search bar">
            <form id="form1" action="/search/">
                <input  placeholder="Git me！" name="searchContent" type="text">
                <button type="submit"></button>
            </form>
        </div>    
    </div>
<!-- 左边部分 -->
    <div class="content">
        <div class="leftContent">
        <!-- 导航栏 -->
          
            <div class="recommends">
<!-- 文章主体,标签待修改 -->
                <div class="recom">
                <div class="label"><span id="article{{article.label}}">标签</span></div>
                <script type="text/javascript">
                    var dic = {
                    1:'人工智能',
                    2:'移动开发',
                    4:'物联网',
                    8:'架构',
                    16:'云计算/大数据',
                    32:'互联网',
                    64:'游戏开发',
                    128:'运维',
                    256:'数据库',
                    512:'前端',
                    1024:'后端',
                    2048:'编程语言',
                    4096:'研发管理',
                    8192:'安全',
                    16384:'程序人生',
                    32768:'区块链',
                    65536:'音视频开发',
                    131072:'资讯',
                    262144:'计算机理论与基础',
                    };
                    var str = "文章标签 ";
                        for(var tmp = 1;tmp<=128;tmp=tmp*2)
                        {
                         if(({{article.label}}&tmp) == tmp)
                          str+= ", " + dic[tmp];
                        }
                    document.getElementById("article{{article.label}}").innerHTML = str;
                </script>
                   
                    <div class="ID">
                        <div class="head">
                            <img src="{%static article.sender.personImage%}" alt="">
                        </div>
                    <h2>{{article.sender}}</h2>
                    </div>
                    <div><h2>{{article.title}}</h2></div>
                    <div class="message">
                    {% autoescape off %}{{article.content}}{% endautoescape %}
                    </div>
                    <div class="functions">
                        <button title="点赞 " onclick="articleThumbUp({{article.articleID}}) " class="button button-plain button-border button-circle button-primary button-small "><i class="fa fa-thumbs-up "></i></button>
                        <button title="评论 " onclick="return articleCommentTanchu({{article.articleID}}) " class="button button-large button-plain button-border button-circle button-small "><i class="fa fa-envelope "></i></button>
                        <button title="收藏 " onclick="articleCollection({{article.articleID}})" class="button button-plain button-border button-circle button-small "><i class="fa fa-star "></i></button>
                    </div>
                    <!-- 评论显示 -->
                </div>
<!-- 文章主体 -->
            </div>
        </div>
        <!-- 右边部分 -->
        
         <div class="rightContent">
            <div class="loginAndRegister" style="background-image: url({%static 'imgs/leftimg.jpg'%});background-size:100% 100%;" id="person">
                    <div class="head">
                        <section class="box">
                            <div class="avatar">
                              <a href="/person/indexPerson/" style="background: url({%static person.personImage%}) no-repeat; background-size:contain;"><span>{{person.personName}}</span></a>
                            </div>
                        </section>
                    </div>

                    <div class="leftFunctions">
                        <div class="article"><a href=""><img src="{%static 'imgs/article.jpg'%}" alt="" height="40" width="40" ></a><span>写文章</span></div>
                        <div class="thought"><a href="javascript:void(0)" onclick = "tanchu3()"><img src="{%static 'imgs/thought.jpg'%}" alt="" height="40" width="50" ></a><span>写想法</span></div>
                        <div class="news"><a href = "javascript:void(0)" onclick = "tanchu()"><img src="{%static 'imgs/news.jpg'%}" alt="" height="40" width="40" ></a><span>写动态</span></div>
                        <div class="collection"><a href="/person/personCollection/"><img src="{%static 'imgs/collection.jpg'%}" alt="" height="40" width="40" ></a><span>我的收藏</span></div>
                        <div class="like"><a href="/person/personFollow/"><img src="{%static 'imgs/like2.jpg'%}" alt="" height="40" width="40" ></a><span>我的关注</span></div>
                        <div class="logout"><a href="/logOut/" ><img src="{%static 'imgs/logout.jpg'%}" alt="" height="40" width="40" ></a><span>退出登录</span></div>
                    </div>
                        

            </div>
            <div class="loginAndRegister" style="background-image: url({%static 'imgs/welcome.jpg'%});" id = "nologin">
                <div class="login">
                    <a  href="/login" class="button button-block login-button" style="color:white">登录</a>
                    <a href="/register" class="button button-block" >现在注册</a>
                </div>
            </div>
            <script>
            if ({{person.personID}}) {
            document.getElementById("person").style.display='block';
            document.getElementById('nologin').style.display='none';
            }
            </script>
            <div class="ads" style="background-image: url({%static 'imgs/ad.jpg'%});">
            </div>

        </div>

    </div>
    <footer>
   
    </footer>
</body>
</html>