{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>查看动态　-　GitSpace</title>
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    <link rel="stylesheet" href="{%static 'person/css/index.css'%}">
    <link rel="stylesheet" href="{%static 'person/css/button.css'%}">
    <link rel="stylesheet" href="{%static 'person/css/font-awesome.min.css'%}">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'person/css/style.css'%}">
    <link rel="stylesheet" href="{%static 'person/css/wxz/index.css'%}">
    <link rel="stylesheet" href="{%static 'person/css/wxz/base.css'%}">
    <script type="text/javascript" src="{%static 'person/js/index.js'%}"></script>
    <script src="{%static 'js/jquery-1.11.3.js'%}"></script>
    <script src="{%static 'js/comment.js'%}"></script>
</head>

<body>
    <!--头部-->
    <div class="banner" style="background-image: url({%static 'imgs/banner2.jpg'%});">
        <a href="/indexAfterLogin"><span>首页</span></a>
        <div class="search bar">
            <form method="post" action="/search/">
                <input placeholder="Git me！" name="searchContent" type="text">
                <button type="submit"></button>
            </form>
        </div>
    </div>
    <div class="wbanner" style="background-image: url({%static 'person/imgs/cha/banner_top.jpg'%});">
    
        <section class="wbox">
            <div class="wavatar" style="background-image: url({%static person.personImage%});background-size:contain;">
            </div>
            <ul class="wtexts">
                <p>{{person.personSex}}</p>
                <p>{{person.personMobile}}</p>
                <p>{{person.personEmail}}</p>
                <p>{{person.personInfo}}</p>
            </ul>
            <!-- －－－－－－－－－－－－－－－判断关注模块－－－－－－－－－－－－－－－ -->
            <form action="{%url 'cancelFollowPerson' person.personID%}" method="post" id="form1" style="display: none;">
                {% csrf_token %}
                <input type="submit" id="{{person.personID}}" value="已关注" onmouseover="Overchange(this)" onmouseout="Outchange(this)" onclick="Clikchange(this)" style="width: 78px; height: 32px; float: left; background: rgba(7,166,83,1); color: white; text-align: center; line-height: 32px; cursor: pointer; position:relative;left: -100px;top: 100px;">
            </form>
            <form action="{%url 'addFollowPerson' person.personID%}" method="post" id="form2">
                {% csrf_token %}
                <input type="submit" id="{{person.personID}}" value="关注" onmouseover="Overchange(this)" onmouseout="Outchange(this)" onclick="Clikchange(this)" style="width: 78px; height: 32px; float: left; background: rgba(7,166,83,1); color: white; text-align: center; line-height: 32px; cursor: pointer; position:relative;left: -100px;top: 100px;">
            </form>
            <script type="text/javascript">
            var followCheck = {{followMes | safe}}
            if (followCheck == 0) {
                document.getElementById('form1').style.display = 'none';
                document.getElementById('form2').style.display = '';
            } else {
                document.getElementById('form1').style.display = '';
                document.getElementById('form2').style.display = 'none';
            }
            </script>
            <!-- －－－－－－－－－－－－－－－/判断关注模块－－－－－－－－－－－－－－－ -->
            <div class="wtexts">
                <a href="/person/personTrends" style="margin-left: 420px;">返回个人主页>></a>
            </div>
            <div id="photo">
                <div style="position: relative;width: 200px;text-align: center;bottom: 15px;"> 
                <div style="position: relative;bottom: 20px;">
                    <h1>{{person.personName}}</h1>
                </div>
                </div> 
            </div>  


        </section>
        </div>
        <div class="wtemplate">
            <div class="wbox">
                <ul>
                    <li><a href="/person/personTrends/{{person.personID}}">&nbsp;&nbsp;<font>动态</font>&nbsp;&nbsp;</a></li>
                    <li><a href="/person/personIdea/{{person.personID}}">&nbsp;&nbsp;<font>想法</font>&nbsp;&nbsp;</a></li>
                    <li><a href="/person/personArticle/{{person.personID}}">&nbsp;&nbsp;<font>文章</font>&nbsp;&nbsp;</a></li>
                    <li><a href="/person/personCollectionIdea/{{person.personID}}">&nbsp;&nbsp;<font>收藏</font>&nbsp;&nbsp;</a></li>
                    <li><a href="/person/personFollow/{{person.personID}}">&nbsp;&nbsp;<font>关注</font>&nbsp;&nbsp;</a></li>
                </ul>
            </div>
        </div>
        <!--头部-->
        <!-- 评论区域 -->
        <div id="light" class="commentArea">
            <a href="javascript:void(0)" onclick="commentTanchu2()">
                <button title="关闭" class="button  button-border button-circle button-small closeButton">X</button>
            </a>
            <div id="CommentsContainer" class="CommentsContainer">
                条评论
            </div>
            <div>
                <div class="TopbarCommentTopbar"></div>
                <!-- 评论列表commentList　包含头像,评论者,评论内容 -->
                <div id="commentList" class="commentList">
                    <!--  循环创建每个评论 -->
                </div>
                <div id="commentsFooter" class="commentsFooter">
                    <input type="text" id="ucomment" name="ucomment" class="commentcontent">
                </div>
            </div>
        </div>
        <div id="fade" class="blackoverlay"></div>
        <!--  -->
        <article>
            <div class="bloglist left">
                {%for s in dynamicList%}
                <!--横条开始位置-->
                <div class="recom">
                    <div class="ID">
                        <div class="head">
                            <img src="{%static person.personImage%}" alt="">
                        </div>
                        <h2>{{s.sender.personName}}</h2>
                    </div>
                    <div class="message">{{s.content}}
                    </div>
                    <div class="message">{{s.createDate}}
                    </div>
                    <div class="functions">
                        <button title="点赞" onclick="dynamicThumup({{s.dynamicID}})" class="button button-plain button-border button-circle  button-primary button-small"><i class="fa fa-thumbs-up"></i></button>
                        <a href="">
                            <button title="评论" onclick="return dynamicCommentTanchu({{s.dynamicID}})" class="button button-large  button-plain button-border button-circle button-small" onmousedown='makeComments()'><i class="fa fa-envelope"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <!--这是横条结束位置-->
                {%endfor%}
            </div>
            <!--右边条幅栏目结束位置-->
            <aside class="right">
            <div class="weather" style="background-image: url({%static 'person/imgs/cha/weather_bg.jpg'%}); background-repeat: no-repeat;">
                <iframe width="250" scrolling="no" height="60" frameborder="0" allowtransparency="true">
                </iframe>
            </div>
            <div class="news">
                <h3>
              <p>最新<span>文章</span></p>
            </h3>
                <ul class="rank">
                    {%for i in articlenew%}                 
                    <li><a href="/article/{{i.articleID}}" title="{{i.title}}" target="_blank">{{i.title}}</a></li>
                    {%endfor%}
                </ul>
                <h3 class="ph">
            <p>点击<span>排行</span></p>
            </h3>
                <ul class="paih">
                     {%for i in hotarticle%}                 
                    <li><a href="/article/{{i.articleID}}" title="{{i.title}}" target="_blank">{{i.title}}</a></li>
                    {%endfor%}
                     {%for i in hotidea%}                 
                    <li><a href="/discuss/{{i.ideaID}}" title="" target="_blank">{{i.content}}</a></li>
                    {%endfor%}
                </ul>
                <h3 class="links">
            <p>友情<span>链接</span></p>
            </h3>
                <ul class="website">
                    <li><a href="http://www.nwsuaf.edu.cn">西北农林科技大学</a></li>
                    <li><a href="https://pt.nwsuaf6.edu.cn">麦田pt</a></li>
                    <li><a href="https://www.csdn.net/">csdn</a></li>
                </ul>
            </div>
        </aside>
        </article>
        <footer>
        </footer>
        </article>
</body>
</html